<div id="post" class="post">
  <h2><%= @post.title %></h2>
  <p><%= @post.content %></p>

  <p><a href="#comments" title="Comentaris" id="gotocomments"><%= @post.comments.size > 0 ? "#{@post.comments.size} " : "" %>Comentari<%= @post.comments.size != 1 ? "s" : "" %> &rarr;</a></p>
</div>

<div id="comments" class="comments">
  <p><a href="#" title="Entrada" id="gotopost">&larr; Entrada</a></p>
  <h2>Comentaris</h2>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <div class="author">
      <%= md comment.author %>
      <span class="ago">fa <%= time_ago_words(comment.created_at, Time.now) %>&nbsp;</span>
    </div>
      <div class="content"><%= md comment.content %>&nbsp;</div>
    </div>
  <% end %>
  <div class="comment-form">
    <form action="/comment" method="post">
      <input type="hidden" name="post" value="<%= @post.id %>" id="post">
      <div class="name"><input type="text" name="name" value="" id="name"></div>
      <div class="content">
        <textarea id="comment" name="content" rows="5"></textarea><br>
        <input type="submit" name="sendcomment" value="Envia comentari" id="sendcomment">
      </div>
    </form>
  </div>
</div>
